.App {
  padding: 15px 25px;
}

form {
  width: 400px;
  padding: 10px 25px;
  border: 1px solid #9b4dca;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 10px auto;
  transition: box-shadow 0.2s ease-in-out;
}

form:hover,
form:focus-within {
  box-shadow: 8px 15px 30px rgba(0, 0, 0, 0.2);
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 5px;
}

button[type='button'] {
  background-color: white;
  color: #9b4dca;
}
